@function pem($px, $base: 16) {
  @return ($px / $base) + em;
}

@mixin breakpoint($min, $max: 0) {
  @if $max == 0 {
    @media ( min-width: pem($min) ) {
      @content
    }
  } @else {
    @media ( min-width: pem($min) ) and ( max-width: pem($max) ) {
      @content
    }
  }
}

%maxwidthcontainer {
  max-width: 80em;
  margin: 0 auto;
  padding: $standardp;
}

.maxwidthcontainer {
  @extend %maxwidthcontainer;
}
