// colors
$yellow: #fffcdb;
$blue: #cdedfb;
$green: #ddecd7;
$red: #f8dfd4;
$darkgreen: #3cae47;
$brandblue: #03b7f1;
$copy: black;

// font-sizes
$xlarge: 2.0625rem;
$large: 1.25rem;
$medium: 0.875rem;
$regular: 0.75rem;
$small: 0.625rem;
// $quote: 0.813rem; 

// padding
$standardp: 1rem;


